# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binaries
vinayaka-user-words-impl
vinayaka-user-match-impl
vinayaka-user-avatar-cron
vinayaka-user-match-cache-fetcher
vinayaka-report-cache-api.cgi
vinayaka-model-collector-impl
vinayaka-super-model-collector-impl
vinayaka-model-abstracter-impl

