# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binaries
vinayaka-user-match-impl
vinayaka-user-avatar-cron
vinayaka-user-match-cache-fetcher
vinayaka-user-match-cache-fetcher-simple
vinayaka-report-cache-api.cgi
vinayaka-user-speed-cron
vinayaka-user-speed-api.cgi
vinayaka-clear-cache-impl
vinayaka-collect-raw-toots-cron
vinayaka-store-raw-toots-cron

